html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

.header {
  text-align: center;
}

.child {
  display: flex;
  justify-content: center;
}

.page {
  max-width: 900px;
  min-width: 300px;
  width: 90%;
}


body {
  background: url('/static/img/static.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}

.search {
  color: #99A5AA;
}

.custom-btn {
  background-color:  rgba(255, 255, 255, 0.15) !important;
  border: none !important;
  color: #67717500 !important;
  outline: none !important;
  box-shadow: none;
}

.player-controls {
  max-width: 700px !important;
  min-width: 300px !important;
  width: 90% !important;
  padding:0 10px;
}

.btn-controls {
  background-color: #FFFFFF00 !important;
  border:none;
  color: #f858b8 !important;
  outline: none !important;
}

.btn-controls:hover {
  background-color:  rgba(255, 255, 255, 0.15) !important;
}

.btn-prev {
  /* border-left: 1px solid #f858b8 !important; */
  padding: 5px 20px;
}

.btn-playpause {
  /* border-left: 1px solid #f858b8 !important;
  border-right: 1px solid #f858b8 !important; */
  padding: 5px 20px;
}

.btn-next {
  /* border-right: 1px solid #f858b8 !important; */
  padding: 5px 20px;
}

/************ ACTION BUTTONS ***************/
.actions-row {
  max-width: 730px !important;
  min-width: 300px !important;
  width: 90% !important;
}

.btn-actions {
  background-color: #00000066 !important;
  color: #fff !important;
  outline: none !important;
  /* border: 2px solid #000 !important; */
  padding: 10px 20px;
  border-radius:20px;
  white-space: nowrap;
  border: 1px solid #333;
}
.btn-actions:hover {
  background-color: #000000 !important;
}

.btn-actions i {
  vertical-align: middle;
  margin-right:10px;
}
.btn-actions span {
  font: bold 13px arial, helvetica, sans-serif;
}

.fa-redo {
  color:#1DB954;
}
.fa-cloud-upload-alt {
  color:#1DB954;
}
.fa-spotify{
  color: #1DB954;
}

.custom-btn-light {
  background-color: #FFFFFF00 !important;
  border: #0d0d0e !important;
  color: #FFF !important;
  outline: none !important;
  padding: 10px;
}

.custom-btn-control {
  color: whitesmoke !important;
}

.playlist-headbar {
  color:white;
  max-width: 90% !important;
  min-width: 300px;
  margin:0 auto;
}

.playlist-headbar-row {
  text-align:center;
}

.playlist-weather {
  width:100px;
  height:100px;
}

.playlist-titlename {
  font-weight: bold;
  font-size:1.5em;
  text-transform: capitalize;
}

.playlist-header {
  font-weight:bold;
  font-size:1.2em;
}

.playlist {
  background-color: rgba(255, 255, 255, 0.15);
  color: #eee;
  max-width: 700px !important;
  min-width: 300px !important;
  width: 90% !important;
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}

.playlist-row {
  padding:.4em 0;
}
.playlist-row:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color:white;
}
.playlist-row-active, .playlist-row-active:hover {
  background-color: rgba(255, 255, 255, 0.45) !important;
  color:white;
}

.playlist-number {}
.playlist-album {}
.playlist-album img {
  width:40px;
  height:40px;
}

.playlist-trackinfo {}

.playlist-title{
  font-weight: bold;
  line-height: 90%;
}

.playlist-artist{
  font-size: smaller;
}

table{
  background-color: rgba(255, 255, 255, 0.15) ;
  max-width: 600px;
  min-width: 300px;
  width: 70%;
  padding:30px, 40px, 20px, 10px;
  max-height: 200px;
}

.table{
  max-width: 600px;
  min-width: 300px;
  width: 70%;
}

.pane {
  display: inline-block;
  overflow-y: scroll;
  max-height:200px;
}

.searchbar {
  width: 50%;
  margin: 50px auto 0px;
  max-width:600px;
}
.form-control {
  padding-left: 2.375rem;
}




.search-box {
  display: block;
  width:200px;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  background-color:#eee;
  border: 1px solid grey;
  box-sizing: border-box;
}
.search-box input[type=text] {
  float:left;
  width:80%;
  background:#eee;
  border: none;
  box-sizing: border-box;
}
.search-box input[type=submit] {
  float:left;
  width:20%;
  padding:10px;
  color:white;
  background:green;
  border: 1px solid grey;
  border-left:none;
  cursor:pointer;
  box-sizing: border-box;
}
/* Clear floats */
.search-box::after {
  content: "";
  clear: both;
  display: table;
}