.header {
  text-align: center;
}

/* @media screen and (min-width: 900px) {
  article {
    padding: 1rem 1rem;
  }
} */

.child {

  display: flex;
  justify-content: center;
}

.page {
  max-width: 900px;
  min-width: 300px;
  width: 70%;
}


body {
  background: url('/static/img/static.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.search {
  color: #99A5AA;
}

.header-text {
  color: #99A5AA;
}

.custom-btn {
  background-color:  rgba(255, 255, 255, 0.15) !important;
  border: none !important;
  color: #99A5AA !important;
  outline: none !important;
  box-shadow: none;
  size: 
}

.custom-btn:focus {
  outline: none !important;
  outline-offset: none !important;
}

.custom-btn-light {
  background-color: #99A5AA !important;
  border: #99A5AA !important;
  color: #18455b !important;
  outline: none !important;
}

/* .buttons {
  max-width: 900px;
  min-width: 300px;
  width: 70%;

} */

.playlist {
  background-color: rgba(255, 255, 255, 0.15) ;
  max-width: 600px;
  min-width: 300px;
  width: 70%;
  max-height: 20em;
  overflow-y: scroll;
}

.playlist div {
  padding:.2em;
  margin-left:1em;
}

.playlist-header {
  font-weight:bold;
  font-size:1.2em;
}

.playlist-row {

}
.playlist-title{}
.playlist-artist{}

table{
  background-color: rgba(255, 255, 255, 0.15) ;
  max-width: 600px;
  min-width: 300px;
  width: 70%;
  padding:30px, 40px, 20px, 10px;
  max-height: 200px;
}

.table{
  max-width: 600px;
  min-width: 300px;
  width: 70%;
}

.pane {
  display: inline-block;
  overflow-y: scroll;
  max-height:200px;
}